.profile__image {
    border-radius: 60px;
    margin-bottom: 26px;
}

@media screen and (min-width: 880px) {
    .profile__image {
        margin-bottom: 0;
        margin-right: 30px;
    }
} 