.popup__edit-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    resize: none;
    margin: 0 auto 30px;
}

.popup__edit-title:focus, input:focus{
    outline: 0;
}

@media screen and (min-width: 880px) {
    .popup__edit-title {
        width: 358px;
    }

}