.popup__close-button {
    position: relative;
    background: url(../../../images/popup/CloseIcon.svg) no-repeat center;
    background-size: 100% 100%;
    width: 20px;
    min-height: 20px;
    left: 262px;
    top: -36px;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .popup__close-button {
        width: 32px;
        min-height: 32px;
        left: 440px;
        top: -40px;
    }
} 

.popup__close-button:hover {
    opacity: 0.6;
}