.popup__close-button {
    background: url(../../../images/popup/CloseIcon.svg) no-repeat center;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: none;
    align-self: flex-end;
}

@media screen and (min-width: 880px) {
    .popup__close-button {
        width: 32px;
        height: 32px;
    }
} 

.popup__close-button:hover {
    opacity: 0.6;
}