.profile__edit-botton {
    background: url(../../../images/profile/pensil.svg) no-repeat center;
    background-size: 7.5px 7.5px;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    grid-column: -2;
    grid-row: 1/2;
    align-self: end;
}

@media screen and (min-width: 880px) {
    .profile__edit-botton {
        background-size: 10px 10px;
        width: 22px;
        height: 22px;
    }
} 